@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

<div class="container b4" data-widget="container">
    <div class="e0" data-widget="row">
        <div class="col-7" style="max-width:200px; flex-basis: 200px; margin-right:20pt" data-widget="column">

            <a style="background:#E0E0E0" class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="AllModel">Все модели</a>
            <a style="background:#E0E0E0" class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="AllBrand">Все бренды</a>
            <a style="background:#E0E0E0" class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="AllBrandAndModel">Модели сгруппированные брендам</a>
        </div>
        <div class="col-7" data-widget="column">

            @RenderBody()
        </div>
    </div> 



</div>